[submodule "db/test_db"]
	path = db/test_db
	url = https://github.com/datacharmer/test_db

[submodule "semGroup18_wordDB"]
	path = semGroup18_wordDB
	url = https://github.com/aktcope4066/semGroup18_wordDB
